services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: usagikanji-sqlserver
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=${MSSQL_SA_PASSWORD}
    ports:
      - "${DB_PORT}:1433"
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -C -U sa -P $${MSSQL_SA_PASSWORD} -Q 'SELECT 1' || exit 1"]
      interval: 10s
      timeout: 10s
      retries: 10
      start_period: 60s
  
  api:
    build:
      context: ./Backend
      dockerfile: WebApi/Dockerfile
    container_name: usagikanji-backend
    ports:
      - "${API_PORT}:8080"
    environment:
      - ConnectionStrings__DefaultConnection=Server=db;Database=Kanji;User Id=sa;Password=${MSSQL_SA_PASSWORD};TrustServerCertificate=True;
      - ASPNETCORE_ENVIRONMENT=Development
      - Jwt__Key=${JWT_KEY}
    depends_on:
      db:
        condition: service_healthy
  
  importer:
    build:
      context: ./Backend
      dockerfile: Importer/Dockerfile
    environment:
      - ConnectionStrings__DefaultConnection=Server=db;Database=Kanji;User Id=sa;Password=${MSSQL_SA_PASSWORD};TrustServerCertificate=True;
    depends_on:
      api:
        condition: service_started
  
  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    container_name: usagikanji-frontend
    ports:
      - "${FRONTEND_PORT}:80"
    depends_on:
      - api