services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=YourStrong!Passw0rd
    ports:
      - "1433:1433"
    healthcheck:
      test: ["CMD", "/opt/mssql-tools/bin/sqlcmd", "-U", "sa", "-P", "YourStrong!Passw0rd", "-Q", "SELECT 1"]
      interval: 10s
      retries: 10
      start_period: 10s

  api:
    build:
      context: ./Backend
      dockerfile: WebApi/Dockerfile
    container_name: kanji-api
    ports:
      - "8080:8080"
    environment:
      - ConnectionStrings__DefaultConnection=Server=db;Database=Kanji;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True;
      - ASPNETCORE_ENVIRONMENT=Development
      - Jwt__Key=ThisIsAVeryLongSecretKeyThatIsAtLeast32Bytes!
      - Jwt__Issuer=YourIssuer
      - Jwt__Audience=YourAudience
    depends_on:
      db:
        condition: service_healthy

  importer:
    build:
      context: ./Backend
      dockerfile: Importer/Dockerfile
    environment:
      - ConnectionStrings__DefaultConnection=Server=db;Database=Kanji;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True;
    depends_on:
      api:
        condition: service_started