/* Root variables */
:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0; /* optional, page padding handled by components */
    text-align: center;
    min-height: 100vh; /* fills full viewport */
    display: flex;
    flex-direction: column;
}
