@use "styles/theme";
@use "styles/gradients";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    //background-color: #f0f0f0;
    background-image: 
        linear-gradient(var(--bg-overlay), var(--bg-overlay)), 
        url('assets/Cherry_Blossom.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#root {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1200px;
    width: 100%;
    background: linear-gradient(135deg, var(--bg-start), var(--bg-end));
}
